{% extends 'base.html' %}

{% block body_id %}add_driver{% endblock %}

{% block title %}Add Driver{% endblock title %}
{% block controller %}ng-controller="AddDriverController" ng-init="init('{{csrf_token}}')"{% endblock controller %}

{% block content %}
	<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>Add Driver</h4></div>
	</div>

	<div class="purchase_form_container">
		<form name="purchase_entry" method="post">
			<div class="form_contents_purchase">
				<div class="section_1_purchase">
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="name">Name</label>
						</div>
						<div class="forminput">
							<input type="text" name="name" ng-model="driver.name"/>
						</div>
					</div>


					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="nationality">Nationality </label>
						</div>
						<div class="forminput">
							<input type="text" name="nationality"  ng-model="driver.nationality" />
						</div>
					</div>

					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="dob">Date of Birth</label>
						</div>
						<div class="forminput">
							<input type="text" name="dob" ng-model="driver.dob" id='dob'/>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="home_address">Home Address</label>
						</div>
						<div class="forminput">
							<textarea name="home_address" ng-model="home_address"></textarea>
							
						</div>
					</div>

					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="home_ph_no">Tel No.(Home)</label>
						</div>
						<div class="forminput">
							<input type="text" name="home_ph_no" ng-model="driver.home_ph_no" id="home_ph_no"/>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="driver_working_address">Driver Working Address</label>
						</div>
						<div class="forminput">
							<textarea ng-model="driver_working_address" name="driver_working_address" ></textarea>

						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="working_tel_no">Tel No(Working)</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="driver.working_tel_no" name="working_tel_no" />

						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="license_no">License No.</label>
						</div>
						
						<div class="forminput" id="radio_input">
							<input type="text" name="license_no" ng-model="driver.license_no" value="" >
							
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="license_type">License Type</label>
						</div>
						
						<div class="forminput" >
							<select name="license_type" ng-model="driver.license_type">
								<option value=''>Select</option>
								<option value="automatic">Automatic</option>
								<option value='manual'>Manual</option>
								<option value='heavy'>Heavy</option>
							</select>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="date_of_license_issue">Date of License Issued</label>
						</div>
						
						<div class="forminput" >
							<input type="text" name="date_of_license_issue" ng-model="driver.date_of_license_issue" id="date_of_license_issue"/>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="issued_place">Issued Place</label>
						</div>
						
						<div class="forminput" >
							<input type="text" name="issued_place" id="issued_place" ng-model="driver.issued_place"/>
						</div>
					</div>

					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="expiry_date">Expiry Date</label>
						</div>
						<div class="forminput">
							<input type="text" name="expiry_date" ng-model="driver.expiry_date" id="expiry_date" />
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="passport_no">Passport No.</label>
						</div>
						<div class="forminput">
							<input type="text" name="passport_no" ng-model="driver.passport_no"  />
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="passport_issued_date">Passport Issued Date</label>
						</div>
						<div class="forminput">
							<input type="text" name="passport_issued_date" ng-model="driver.passport_issued_date" id="passport_issued_date"/>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="place_of_issue">Place of Issued</label>
						</div>
						<div class="forminput">
							<input type="text" name="place_of_issue" ng-model="driver.place_of_issue" />
						</div>
					</div>

					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="emirates_id">Emirates Id</label>
						</div>
						<div class="forminput">
							<input type="text" name="emirates_id" ng-model="driver.emirates_id" />
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="sponsar_name">Sponsar Name.</label>
						</div>
						<div class="forminput">
							<input type="text" name="sponsar_name" ng-model="driver.sponsar_name"  />
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="sponsar_ph">Sponsar Telephone.</label>
						</div>
						<div class="forminput">
							<input type="text" name="sponsar_ph" ng-model="driver.sponsar_ph"  />
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="sponsar_address">Sponsar Address.</label>
						</div>
						<div class="forminput">
							<textarea name="sponsar_address" ng-model="sponsar_address"></textarea>
						</div>
					</div>
					
				</div>
				<div  align="Center">
					<div class="buttons">
						<p class="error_message"> [[validation_error]] </p>
						<input type="button" value="Submit" ng-click="add_driver();" class="btn btn-success">
						<a href="{% url 'home' %}"><input type="button" value="Cancel" class="btn btn-success"></a>
					</div>
				</div>	
			</div>		
		</form>
		<div class="clear"></div>
	</div>

{% endblock content %}