{% extends 'base.html' %}

{% block body_id %}add_client{% endblock %}

{% block title %}Add Client{% endblock title %}
{% block controller %}ng-controller="AddClientController" ng-init="init('{{csrf_token}}')"{% endblock controller %}

{% block content %}
	<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>Add Client</h4></div>
	</div>

	<div class="purchase_form_container">
		<form name="purchase_entry" method="post">
			<div class="form_contents_purchase">
				<div class="section_1_purchase">
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="name">Name</label>
						</div>
						<div class="forminput">
							<input type="text" name="name" ng-model="client.name"/>
						</div>
					</div>


					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="nationality">Nationality </label>
						</div>
						<div class="forminput">
							<input type="text" name="nationality"  ng-model="client.nationality" />
						</div>
					</div>

					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="dob">Date of Birth</label>
						</div>
						<div class="forminput">
							<input type="text" name="dob" ng-model="client.dob" id='dob'/>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="home_address">Home Address</label>
						</div>
						<div class="forminput">
							<textarea name="home_address" ng-model="client.home_address"></textarea>
							
						</div>
					</div>
					
				

					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="home_ph_no">Tel No.(Home)</label>
						</div>
						<div class="forminput">
							<input type="text" name="home_ph_no" ng-model="client.home_ph_no" id="home_ph_no"/>
						</div>
					</div>

					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="workaddress">Work Address</label>
						</div>
						<div class="forminput">
							<textarea ng-model="client.work_address" name="workaddress"></textarea>
						</div> 
					</div>

					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="work_ph_no">Tel No.(Work)</label>
						</div>
						<div class="forminput">
							<input type="text" name="work_ph_no" ng-model="client.work_ph_no">
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="license_no">License No.</label>
						</div>
						
						<div class="forminput" id="radio_input">
							<input type="text" name="license_no" ng-model="client.license_no" value="cash" >
							
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="license_type">License Type</label>
						</div>
						
						<div class="forminput" >
							<!-- <input type="text" name="license_type" ng-model="client.license_type"/> -->
							<select name="license_type" ng-model="client.license_type">
								<option value=''>Select</option>
								<option value="automatic">Automatic</option>
								<option value='manual'>Manual</option>
								<option value='heavy'>Heavy</option>
							</select>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="date_of_license_issue">Date of License Issued</label>
						</div>
						
						<div class="forminput" >
							<input type="text" name="date_of_license_issue" ng-model="client.date_of_license_issue" id="date_of_license_issue"/>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="issued_by">Issued By</label>
						</div>
						
						<div class="forminput" >
							<input type="text" name="issued_by" id="issued_by" ng-model="client.issued_by"/>
						</div>
					</div>

					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="expiry_date">Expiry Date</label>
						</div>
						<div class="forminput">
							<input type="text" name="expiry_date" ng-model="client.expiry_date" id="expiry_date" />
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="passport_no">Passport No.</label>
						</div>
						<div class="forminput">
							<input type="text" name="passport_no" ng-model="client.passport_no"  />
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="passport_issued_date">Passport Issued Date</label>
						</div>
						<div class="forminput">
							<input type="text" name="passport_issued_date" ng-model="client.passport_issued_date" id="passport_issued_date"/>
						</div>
					</div>

					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="place_of_issue">Place of Issued</label>
						</div>
						<div class="forminput">
							<input type="text" name="place_of_issue" ng-model="client.place_of_issue" />
						</div>
					</div>
					
				</div>
				<div  align="Center">
					<div class="buttons">
						<p class="error_message"> [[validation_error]] </p>
						<input type="button" value="Submit" ng-click="add_client();" class="btn btn-info">
						<a href="{% url 'home' %}"><input type="button" value="Cancel" class="btn btn-info"></a>
					</div>
				</div>	
			</div>		
		</form>
		<div class="clear"></div>
	</div>

{% endblock content %}