{% extends 'base.html' %}

{% block body_id %}case_entry{% endblock %}

{% block title %}Case Entry{% endblock title %}
{% block controller %}ng-controller="CaseEntryController" ng-init="init('{{csrf_token}}')"{% endblock controller %}

{% block dialogue_popup %}
	{% include 'popups/add_case_type.html' %}
{% endblock dialogue_popup %}

{% block content %}
	<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>Case Entry</h4></div>
	</div>

	<div class="purchase_form_container">
		<form name="purchase_entry" method="post">
			<div class="form_contents_purchase">
				<div class="section_1_purchase">
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="name">Start Date</label>
						</div>
						<div class="forminput">
							<input type="text" name="start_date" ng-model="case_details.start_date" id="start_date"/>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="name">Rent Agreement No</label>
						</div>
						<div class="forminput">
							<input type="text" name="ref_no" ng-model="case_details.ref_no" id="ref_no"/>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="name">Vehicle Status</label>
						</div>
						<div class="forminput">
							<input type="text" name="vehicle_status" ng-model="case_details.vehicle_status" id="vehicle_status"/>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="name">Vehicle No</label>
						</div>
						<div class="forminput">
							<input type="text" name="vehicle_no" ng-model="case_details.vehicle_no" ng-change="get_customer_details()"/>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="name">Client Name</label>
						</div>
						<div class="forminput">
							<input type="text" name="client_name" ng-model="case_details.client_name" readonly/>
						</div>
					</div>
				</div>
				<div class="section_1_purchase">
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="name">Type of Case</label>
						</div>
						<div class="forminput">
							<!-- <input type="text" name="type_of_case" ng-model="case_details.type_of_case"/> -->
							<select ng-model="case_details.type_of_case" ng-change="add_case_type()">
								<option value="">Select</option>
								<option value="[[case_type]]" ng-repeat="case_type in case_types" ng-selected="case_type == case_details.type_of_case">[[case_type]]</option>
								<option value="other">Other</option>
							</select>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="name">Penality Amount</label>
						</div>
						<div class="forminput">
							<input type="text" name="fine" ng-model="case_details.fine" />
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="name">Penality Date</label>
						</div>
						<div class="forminput">
							<input type="text" name="penality_date" ng-model="case_details.penality_date" id="penality_date"/>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="name">Penality No</label>
						</div>
						<div class="forminput">
							<input type="text" name="penality_no" ng-model="case_details.penality_no" />
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="name">Date Author</label>
						</div>
						<div class="forminput">
							<input type="text" name="date_author" ng-model="case_details.date_author" id="date_author" />
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="name">No Author</label>
						</div>
						<div class="forminput">
							<input type="text" name="no_author" ng-model="case_details.no_author" id="no_author" />
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="name">Code Author</label>
						</div>
						<div class="forminput">
							<input type="text" name="code_author" ng-model="case_details.code_author" id="code_author" />
						</div>
					</div>

				</div>
				<div  align="Center">
					<div class="buttons">
						<p class="error_message"> [[validation_error]] </p>
						<input type="button" value="Register Case" ng-click="create_case_entry();" class="btn btn-success">
						<a href="{% url 'home' %}"><input type="button" value="Cancel" class="btn btn-success"></a>
					</div>
				</div>	
			</div>		
		</form>
		<div class="clear"></div>
	</div>

{% endblock content %}