{% extends 'base.html' %}

{% block body_id %}clients{% endblock %}

{% block title %}Clients{% endblock title %}

{% block content %}

	<div class="top_section">
		
		<a class="btn btn-info" href="{% url 'add_client' %}">New Client</a> 
	</div>
	{% if clients|length > 0 %}
		<table border="0" class="table_list" cellspacing="0">
			<tr>
						
				<th> Name </th>
				<th> Nationality</th>
				<th> Home Address </th>
				<th> Tel No. </th>
				<th> Work Address </th>
				<th> Tel No. </th>
				<th> License No. </th>
				<th> Expiry Date </th>
				<th> Passport No. </th>
				<th> &nbsp;&nbsp;</th>
			</tr>
			{% for client in clients %}
				<tr>
					<td>{{client.name}}</td>
					<td>{{client.nationality}}</td>
					<td>{{client.address}}</td>
					<td>{{client.phone_number}}</td>
					<td>{{client.work_address}}</td>
					<td>{{client.work_ph_no}}</td>
					<td>{{client.license_no}}</td>
					<td>{{client.expiry_license_date| date:'d/m/Y'}}</td>
					<td>{{client.passport_no}}</td>
					<td><a href="{% url 'edit_client' client_id=client.id %}">
						<img src="/static/images/edit.png">
					</a></td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<div class="message"><p>No Clients</p></div>
	{% endif %}

{% endblock content %}