{% extends 'base.html' %}

{% block body_id %}drivers{% endblock %}

{% block title %}drivers{% endblock title %}

{% block content %}

	<div class="top_section">
		
		<a class="btn btn-info" href="{% url 'add_driver' %}">New driver</a> 
	</div>
	{% if drivers|length > 0 %}
		<table border="0" class="table_list" cellspacing="0">
			<tr>
						
				<th> Name </th>
				<th> Nationality</th>
				<th> Home Address </th>
				<th> Tel No. </th>
				<th> License No. </th>
				<th> Expiry Date </th>
				<th> Passport No. </th>
				<th> Sponsar Name</th>
				<th> Sponsar Address</th>
				<th> Sponsar Phone</th>
				<th> &nbsp;&nbsp;</th>
			</tr>
			{% for driver in drivers %}
				<tr>
					<td>{{driver.driver_name}}</td>
					<td>{{driver.driver_nationality}}</td>
					<td>{{driver.driver_address}}</td>
					<td>{{driver.driver_phone}}</td>
					<td>{{driver.driver_license_no}}</td>
					<td>{{driver.driver_license_expiry_date| date:'d/m/Y'}}</td>
					<td>{{driver.driver_passport_no}}</td>
					<td>{{driver.sponsar_name}}</td>
					<td>{{driver.sponsar_address}}</td>
					<td>{{driver.driver_phone}}</td>
					{%comment%}<td><a href="{% url 'edit_driver' driver_id=driver.id %}">
						<img src="/static/images/edit.png">
					</a></td>
					{%endcomment%}
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<div class="message"><p>No drivers</p></div>
	{% endif %}

{% endblock content %}