<div class="menu_header">
	<div class="logo">
		<img src="" alt="Logo Image">
	</div>
	<div class="menu_div">
		{% if user.is_authenticated %}
			<ul>
				<li class="menu"> <img src="/static/images/user.png" width="24px" >
					<span class="user_name"> 
						{% if user.is_authenticated %}
							{% if user.first_name %}
								{{user.first_name}} {{user.last_name}} 
							{% else %} 
								{{user.username}}
							{% endif %} 
						{% endif %}
					</span>
					<ul>
						{% if user.is_authenticated %}
							<li><a href="{% url 'logout' %}"> Logout </a></li>
						{% endif %}
						<li><a href="{% url 'clients' %}">Clients</a></li>
						<li><a href="{% url 'vehicles' %}">Vehicles</a></li>
						
					</ul>
				</li>
				<li class="menu"> <a href=""> Rent Agreement </a> 
					<ul>
						<li><a href="{% url 'rent_agreement' %}">Rent Agreement</a></li>
						<li><a href="">Print</a></li>
					</ul>
				</li>
				<li class="menu last"> <a href=""> Receive Car </a> 
					<ul>
						<li><a href="{% url 'receive_car' %}">Receive Car</a></li>
						<li><a href="">Print</a></li>
					</ul>
				</li>
				
			</ul>
		{% endif %}
	</div>
</div>