{% extends 'base.html' %}

{% block body_id %}rent_agreement{% endblock %}

{% block title %}Rent Agreement{% endblock title %}
{% block controller %}ng-controller="RentAgreementController" ng-init="init('{{csrf_token}}')"{% endblock controller %}

{% block dialogue_popup%}
	{% include 'popups/add_vehicle.html' %}
	{% include 'popups/add_vehicle_type.html' %}
{% endblock %}


{% block content %}
	<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>Rent Agreement</h4></div>
	</div>

	<div class="purchase_form_container">
		<form name="purchase_entry" method="post">
			<div class="form_contents_purchase">
				<div class="section_1_purchase">
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="agreement_no">Agreement No.</label>
						</div>
						<div class="forminput">
							<input type="text" name="agreement_no" value="{{agreement_no}}" readonly id="agreement_no">
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="agreement_type">Agreement Type.</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.agreement_type" name="agreement_type">
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="name">Customer</label>
						</div>
						<div class="forminput">
							<select>
								<option value="" ng-click="get_customer_details('')">Select</option>
								<option ng-repeat="client in clients" value="[[client.client_name]]" ng-click="get_customer_details(client)">[[client.client_name]]</option>
							</select>
						</div>
					</div>
					
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="license_no">License No.</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="client.license_no" name="license_no" readonly>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="license_type">License Type.</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="client.license_type" name="license_type" readonly>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="expiry_date">License Expiry Date.</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="client.expiry_date" name="expiry_date" readonly>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="passport_no">Passport No.</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="client.passport_no" name="passport_no" readonly>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="passport_date_of_issue">Passport Date of Issue.</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="client.passport_date_of_issue" name="passport_date_of_issue" readonly>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="section_1_purchase">
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="name">Vehicle No</label>
						</div>
						<div class="forminput">
							<select ng-model="vehicle_data">
								<option value="" ng-click="get_vehicle_details('')">Select</option>
								<option ng-repeat="vehicle in vehicles" value="[[vehicle.vehicle_no]]" ng-click="get_vehicle_details(vehicle)" ng-selected="vehicle.vehicle_no == vehicle_data.vehicle_no">[[vehicle.vehicle_no]]</option>
								<option value="other" ng-click="add_new_vehicle()">Other</option>
							</select>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="plate_no">Plate No.</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="vehicle.plate_no" name="plate_no" readonly>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="vehicle_condition">Vehicle Condition.</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="vehicle.vehicle_condition" name="vehicle_condition" readonly>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="type_of_insuranse">Insurance Type.</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="vehicle.type_of_insuranse" name="type_of_insuranse" readonly>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="insuranse_value">Insurance Value.</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="vehicle.insuranse_value" name="insuranse_value" readonly>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="meter_reading">Meter Reading</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="vehicle.meter_reading" name="meter_reading" readonly>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="section_1_purchase">
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="rent_type">Rent Type</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.rent_type" name="rent_type">
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="paid">Paid</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.paid" name="paid" ng-change="calculate_rent_amount()">
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="date">Agreement Date</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.date" name="date" id="date">
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="commission">Commision</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.commission" name="commission" ng-change="calculate_rent_amount()">
						</div>
					</div>

					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="start_date_time">Starting Date and Time</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.start_date_time" name="start_date_time" id="start_date_time">
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="reduction">Reduction</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.reduction" name="reduction" ng-change="calculate_rent_amount()">
						</div>
					</div>

					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="end_date_time ">End Date and Time</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.end_date_time" name="end_date_time" id="end_date_time">
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="rent">Rent</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.rent" name="rent" readonly>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="amount">Amount</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.amount" name="amount" ng-change="calculate_rent_amount()">
						</div>
					</div>
					
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="balance">Balance</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.balance" name="balance" readonly>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="section_1_purchase">
					
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="type_of_contract">Type of Contract</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.type_of_contract" name="type_of_contract">
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="with_driver">With Driver</label>
						</div>
						<div class="forminput" id="radio_input">
							<input type="radio" value="yes" ng-model="rent_agreement.with_driver" name="with_driver" ng-click="with_driver_mode('yes')">
							<label>Yes</label>
							<input type="radio" value="no" ng-model="rent_agreement.with_driver" name="with_driver" ng-click="with_driver_mode('no')">
							<label>No</label>

						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="driver_name">Driver Name</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.driver_name" name="driver_name" ng-readonly="driver_details_needed"/>

						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="driver_phone">Driver Phone</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.driver_phone" name="driver_phone" ng-readonly="driver_details_needed"/>

						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="driver_address">Driver Address</label>
						</div>
						<div class="forminput">
							<textarea ng-model="rent_agreement.driver_address" name="driver_address" ng-readonly="driver_details_needed"></textarea>

						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="passport_no">Passport No</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.passport_no" name="passport_no" ng-readonly="driver_details_needed"/>

						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="nationality">Nationality</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.nationality" name="nationality" ng-readonly="driver_details_needed"/>

						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="license_no">License No</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.license_no" name="license_no" ng-readonly="driver_details_needed"/>

						</div>
					</div>

					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="dob">Date of Birth</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.dob" name="dob" id="dob" ng-readonly="driver_details_needed"/>

						</div>
					</div>

					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="license_expiry_date">License Expiry Date</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.license_expiry_date" name="license_expiry_date" id="license_expiry_date" ng-readonly="driver_details_needed"/>

						</div>
					</div>

					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="license_issued_place">License Issued Place</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.license_issued_place" name="license_issued_place" ng-readonly="driver_details_needed"/>

						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="license_issued_date">License Issued Date</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.license_issued_date" name="license_issued_date" id="license_issued_date" ng-readonly="driver_details_needed"/>

						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="sponsar_name">Sponsar Name</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.sponsar_name" name="sponsar_name" ng-readonly="driver_details_needed"/>

						</div>
					</div>

					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="sponsar_telephone">Sponsar Telephone</label>
						</div>
						<div class="forminput">
							<input type="text" ng-model="rent_agreement.sponsar_telephone" name="sponsar_telephone" ng-readonly="driver_details_needed"/>

						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="sponsar_address">Sponsar Address</label>
						</div>
						<div class="forminput">
							<textarea name="sponsar_address" ng-model="rent_agreement.sponsar_address" ng-readonly="driver_details_needed"></textarea>

						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="notes">Notes</label>
						</div>
						<div class="forminput">
							<textarea name="notes" ng-model="rent_agreement.notes"></textarea>

						</div>
					</div>


				</div>
				<div  align="Center">
					<div class="buttons">
						<p class="error_message"> [[validation_error]] </p>
						<input type="button" value="Submit" ng-click="create_rent_agreement();" class="btn btn-info">
						<a href="{% url 'home' %}"><input type="button" value="Cancel" class="btn btn-info"></a>
					</div>
				</div>	
			</div>
		</form>
	</div>
{% endblock content %}