{% extends 'base.html' %}

{% block body_id %}vehicles{% endblock %}

{% block title %}Vehicles{% endblock title %}

{% block content %}

	<div class="top_section">
		
		<a class="btn btn-info" href="{% url 'add_vehicle' %}">New Vehicle</a> 
	</div>
	{% if vehicles|length > 0 %}
		<table border="0" class="table_list" cellspacing="0">
			<tr>
						
				<th> Vehicle No. </th>
				<th> Plate No. </th>
				<th> Vehicle Type </th>
				<th> Vehicle Color. </th>
				<th> Meter Reading </th>
				<th> Vehicle Condition </th>
				<th> Insurance Type </th>
				<th> Insurance Value </th>
		
			</tr>
			{% for vehicle in vehicles %}
				<tr>
					<td>{{vehicle.vehicle_no}}</td>
					<td>{{vehicle.plate_no}}</td>
					<td>{{vehicle.vehicle_type_name.vehicle_type_name}}</td>
					<td>{{vehicle.vehicle_color}}</td>
					<td>{{vehicle.meter_reading}}</td>
					<td>{{vehicle.vehicle_condition}}</td>
					<td>{{vehicle.type_of_insuranse}}</td>
					<td>{{vehicle.insuranse_value}}</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<div class="message"><p>No vehicles</p></div>
	{% endif %}

{% endblock content %}