<div style='display:none' id="new_client">
    <div id='vehicle_type' style='padding:10px; background:#fff;'>
        <div class="sign_box">
            <div class="row-fluid">
                <div class="span12 sign_mid">
                    <span>
                        <form action="" id="register" name="register" method="post" class="reg_sec">
                            <div class="formrow">
                                <div class="formtext">
                                    <label>Name</label>
                                </div>
                                <div class="forminput">  
                                    <input type="text" name="name" ng-model="client.name" />
                                </div>  
                            </div>
                            <div class="formrow">
                                <div class="formtext">
                                    <label>Nationality</label>
                                </div>
                                <div class="forminput">  
                                    <input type="text" name="nationality" ng-model="client.nationality" />
                                </div>  
                            </div>
                            <div class="formrow">
                                <div class="formtext">
                                    <label>DOB</label>
                                </div>
                                <div class="forminput">  
                                    <input type="text" name="dob" ng-model="client.dob" id="dob"/>
                                </div>  
                            </div>
                            <div class="formrow">
                                <div class="formtext">
                                    <label>Home Address</label>
                                </div>
                                <div class="forminput">  
                                    <textarea name="home_address" ng-model="home_address"></textarea>
                                </div>  
                            </div>
                            <div class="formrow">
                                <div class="formtext">
                                    <label>Tel. No (Home)</label>
                                </div>
                                <div class="forminput">  
                                    <input type="text" name="home_ph_no" ng-model="client.home_ph_no" />
                                </div>  
                            </div>
                            <div class="formrow">
                                <div class="formtext">
                                    <label>Work Address</label>
                                </div>
                                <div class="forminput">  
                                    <textarea ng-model="work_address" name="workaddress"></textarea>
                                </div>  
                            </div>
                            <div class="formrow">
                                <div class="formtext">
                                    <label>Tel No.(Work)</label>
                                </div>
                                <div class="forminput">  
                                    <input type="text" name="work_ph_no" ng-model="client.work_ph_no" />
                                </div>  
                            </div>
                            <div class="formrow">
                                <div class="formtext">
                                    <label>License No</label>
                                </div>
                                <div class="forminput">  
                                    <input type="text" name="license_no" ng-model="client.license_no" />
                                </div>  
                            </div>
                            <div class="formrow">
                                <div class="formtext">
                                    <label>License Type</label>
                                </div>
                                <div class="forminput">  
                                    <select name="license_type" ng-model="client.license_type">
                                        <option value=''>Select</option>
                                        <option value="automatic">Automatic</option>
                                        <option value='manual'>Manual</option>
                                        <option value='heavy'>Heavy</option>
                                    </select>
                                </div>  
                            </div>
                            <div class="formrow">
                                <div class="formtext">
                                    <label>Date of License Issued</label>
                                </div>
                                <div class="forminput">  
                                    <input type="text" name="date_of_license_issue" ng-model="client.date_of_license_issue" id="date_of_license_issue"/>
                                </div>  
                            </div>
                            <div class="formrow">
                                <div class="formtext">
                                    <label>License Issued By</label>
                                </div>
                                <div class="forminput">  
                                    <input type="text" name="issued_by" ng-model="client.issued_by" id="issued_by"/>
                                </div>  
                            </div>
                            <div class="formrow">
                                <div class="formtext">
                                    <label>Expiry Date</label>
                                </div>
                                <div class="forminput">  
                                    <input type="text" name="expiry_date" ng-model="client.expiry_date" id="expiry_date"/>
                                </div>  
                            </div>
                            <div class="formrow">
                                <div class="formtext">
                                    <label>Passport No</label>
                                </div>
                                <div class="forminput">  
                                    <input type="text" name="passport_no" ng-model="client.passport_no" id="passport_no"/>
                                </div>  
                            </div>
                            <div class="formrow">
                                <div class="formtext">
                                    <label>Passport Issued Date</label>
                                </div>
                                <div class="forminput">  
                                    <input type="text" name="passport_issued_date" ng-model="client.passport_issued_date" id="passport_issued_date"/>
                                </div>  
                            </div>
                            <div class="formrow">
                                <div class="formtext">
                                    <label>Passport Issued Place</label>
                                </div>
                                <div class="forminput">  
                                    <input type="text" name="place_of_issue" ng-model="client.place_of_issue" id="place_of_issue"/>
                                </div>  
                            </div>
                            <div class="formrow_purchase">
                                <div class="formtext_purchase">
                                    <label for="emirates_id">Emirates Id</label>
                                </div>
                                <div class="forminput">
                                    <input type="text" name="emirates_id" ng-model="client.emirates_id" />
                                </div>
                            </div>
                            <div align="center">
                                <p class="error_message">[[validation_error]]</p>
                                <input name="submit" type="button" value="Add" ng-click="save_client()">
                                <input name="cancel" type="button" value="Cancel" ng-click="close_popup_add_client()">
                            </div>
                        </form>                        
                    </span>
                </div>
            </div>    
        </div>
        <div class="clearfix"></div>
    </div>
</div>